

@media screen and (max-width: 800px){
    .name{
        margin-left: -1rem;
    }
   .prince1{
    margin-right: 3.5rem;
  
}
}
@media screen and (max-width: 400px){
    .name{
       display: none;
    }
   
}